* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  color: #f9faf8;
  padding: 20px 150px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.menu li {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  padding: 80px 150px 100px 150px;
}

.text {
  width: 40%;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  line-height: 1.1;
}

.hero-subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #e5e7eb;
  padding: 15px 0;
}

.btn {
  padding: 8px 30px;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 5px;
  color: #f9faf8;
}

.normal:hover {
  background-color: #0c70ef;
  border: 1px solid #0c70ef;
}

.placeholder {
  width: 40%;
  height: 200px;
  background-color: #cbcbdc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.card-section {
  background-color: #f9faf8;
  padding: 50px 0 70px 0;
}

.card-section-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-placeholder {
  width: 200px;
  height: 200px;
  border: 4px solid #3882f6;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-text {
  width: 225px;
  color: #454858;
  text-align: center;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 70px 300px;
}

.quote-text {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1F2937;
  padding-bottom: 15px;
}

.author {
  text-align: right;
  padding: 0 20px 0 0 ;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.form {
  width: 50%;
  padding: 40px;
  background-color: #3882f6;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
}

.form-title {
  padding-bottom: 10px;
}

.invert {
  border: 2px solid #f9faf8;
}

.invert:hover {
  background-color: #f9faf8;
  color: #3882f6;
}